<div class="mb-4 bg-light rounded-3" style="padding: 2em 1em;background-color: #e9eff0 !important;">
	<div class="container-fluid">
	<h1 style="font-weight: 700;"><%= title %></h1>
	<%= render "shared/launch_modal", resource: resource %>
	</div>
</div>